# Saucedemo users (demo credentials provided by the site)
STANDARD_USER=standard_user
STANDARD_PASSWORD=secret_sauce
LOCKED_OUT_USER=locked_out_user
LOCKED_OUT_PASSWORD=secret_sauce

# DummyJSON credentials (if you want to override defaults in perf tests)
DUMMYJSON_USERNAME=kminchelle
DUMMYJSON_PASSWORD=0lelplR

